.jumbotron {
  &.page-jumbotron {
    background-color: $primary;
    color: $white;

    a {
      color: $white;

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }
  }
}